.container-2{
    margin-left: 15rem;
    background-color: #323232;
    width: 70rem;
    border-radius: 9px 9px 0px 0px;
    color: #DDD0C8;
    padding-bottom: 2rem;
}
.container-3{
    margin-left: 15rem;
    background-color: #323232;
    width: 70rem;
    border-radius: 0px 0px 9px 9px;
    color: #DDD0C8;
    margin-bottom: 2rem;
}

p{
    font-size: larger;
}
.container{
    width: fit-content;
    align-self: end;
    margin-left: 0;
}
.container:hover{
    transform: scale(1.1);
}
#computerTitle{
    text-align: center;
    margin-bottom: 1rem;
}

.card-body{
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
}
#computerDescription{
    max-width: 300px;
    text-align: center;
    margin-bottom: 1rem;
}
#computerPrice{
    text-align: center;
}
.card-sl {
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #323232;
    color :white;
    margin-left: .5rem;
}

.row{
    margin-bottom:3rem;
}

header{
    background-color: #323232;
    color:white;
    padding-top: .5rem;
    margin-bottom: 5rem;
}

h1{
    padding: 1rem;
}

#aboutButton{
    margin-top: 1.5rem;
    background-color: #DDD0C8;
    border: none;
    color: #323232;
}

#aboutButton:hover{
    background-color: #323232;
    color:#DDD0C8;
}

#repayLoanButton{
    visibility: hidden;
    margin-top: 1rem;
    border-radius: 0px 0px 0px 0px;
    color: #323232;
    background-color: #DDD0C8;
    width: 100%;
    border: none;
}
#repayLoanButton:hover{
    color: #DDD0C8;
    background-color: #323232;
}


body{
    background-color :#DDD0C8;
    background-image :url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

#computers{
    width: max-content;
    height: 2rem;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: none;
    margin-left: 1rem;
}

#computerPicture{
    padding: 0;
    height: 350px;
    width: 350px;
    border-radius: 9px 9px 9px 9px;
}
#buyComputerButton{
    width: 350px;
    border-radius: 0px 0px 9px 9px;
    background-color: #DDD0C8;
    color: black;
    border: none;
}
#workButton{
    width: 100%;
    color: #323232;
    background-color: #DDD0C8;
    border: none;
}
#workButton:hover{
    background-color: #323232;
    color: #DDD0C8;
    border: none;
}
#bankWorkMoneyButton{
    width: 100%;
    color: #323232;
    background-color: #DDD0C8;
    border: none; 
    border-radius: 0px 0px 9px 9px;
}
#bankWorkMoneyButton:hover{
    color: #DDD0C8;
    background-color: #323232;
    border: none; 
    border-radius: 0px 0px 9px 9px;
}
#buyComputerButton:hover{
    background-color: #323232;
    color: #DDD0C8;
}


#bankWorkMoneyButton{
    margin-top: 1rem;
}
#loanButton{
    margin-bottom: 0;
    height: 2rem;
    width: 100%;
    padding: 0;
    background-color: #DDD0C8;
    color: #323232;
    border: none
}
#loanButton:hover{
    background-color: #323232;
    color: #DDD0C8
}

.col-4{
    margin-left: 15rem;
}
